#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: #242424;
  color: white;
}

button {
  background-color: rgb(26, 25, 25);
  color: white;
}

textarea {
  min-height: 250px;
  height: fit-content;
  width: 100%;
  text-align: left;
  padding: 8px;
  box-sizing: border-box;
}

select {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

.regex-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 24px;
  max-height: 80vh;
}

.regex-input {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.regex-test-string {
  margin: 12px 0;
}

.regex-result {
  text-align: left;
  border: 1px solid gray;
  padding: 8px;
  overflow: scroll;
}

.regex-list-result {
  text-align: left;
  border: 1px solid gray;
  padding: 8px;
  margin-top: 18px;
  height: 200px;
  overflow: scroll;
}

.dropdown {
  position: relative;
  display: inline-block;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(26, 25, 25);
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px;
  right: 0;
  border-radius: 8px;
}

.dropdown-content label {
  display: block;
  margin-top: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.share {
  margin-top: 12px;
  text-align: left;
}

.share-url {
  padding: 12px;
  word-wrap: break-word;
  font-size: small;
}

.share-url a {
  color: lightblue;
}
